$orange-life: rgb(248, 181, 58);
$allGreens: (
    'green1': rgb(199, 255, 199),
    'green2': rgb(151, 251, 151),
    'green3': rgb(66, 246, 66),
    'green4': rgb(11, 238, 11),
);
$fontSize: (
    "normal": 18px,
    "medium": 22px,
    "big": 32px,
    "extremeBig": 67px
);